.WeDoDiv > ul {
    list-style: none;
    margin: 0px auto;
    padding: 0px;
    max-width: 900px;
}

.WeDoDiv > ul > li {
    display: flex;
    align-items: flex-start;
    gap: 0.8rem;
    margin: 1rem;
    transition: all 3000ms ease-in;
}

.WeDoDiv > ul > li > img {
    transform: translateY(-0.5rem);
}

@media (min-device-width: 768px) {
    .WeDoDiv > ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-content: center;
    }
}